body {
  font-family: "Poppins", sans-serif;;
}

.messages-page {
    display: flex;
    height: calc(100vh - 160px); 
    max-height: calc(100vh - 160px);
    overflow: hidden; 
    background-color: #ffffff;
    border-top: 1px solid #eee; 
  }
  
  .conversation-list-area {
    flex: 0 0 300px; 
    border-right: 1px solid #e0e0e0;
    display: flex; 
    flex-direction: column;
    background-color: #fdfdfd;
  }
  
  .chat-interface-area {
    flex: 1; 
    display: flex; 
    flex-direction: column;
  }
  
  .no-chat-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #777;
    background-color: #f9f9f9;
  }
  
  .no-chat-selected h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #555;
  }

  .profile-initial {
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 50%;
  
    background-color: #FF9800;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center; 
    user-select: none;
  }