html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-page {
  flex: 1;
}

.footer {
  background: linear-gradient(to left, #393939, #1b1b1b);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
  border-top: 2px solid #ffa200;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-left {
  width: 20%;
  text-align: left;
}

.footer-logo {
  width: 70px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -10px;
}

.follow-text {
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffa200;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  color: #ffa200;
  font-size: 1.2rem;
  transition: opacity 0.3s ease;
}

.social-icons a:hover {
  color: #f88d00;
  opacity: 0.8;
}

.footer-right {
  width: 20%;
  text-align: right;
  position: relative;
  top: -5px;
}

.footer-text {
  font-size: 0.9rem;
  color: #ffa200;
  line-height: 1.5;
}

.learn-more {
  color: #ffa200;
  font-weight: bold;
  text-decoration: none;
}

.learn-more:hover {
  color: #f88d00;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 0.8rem;
  border-top: 1px solid #ffa200;
  color: #ffa200;
}
